<html>

<head>
	<title>PassBook</title>
	<meta name="viewport" content="width=device-width">
	<link rel="apple-touch-icon-precomposed" href="media/favicon.png">
	<link rel="icon" href="media/favicon.png">
	<link rel="mask-icon" href="media/favicon.svg" color="rgb(36,38,58)">
	<link rel="shortcut icon" href="media/favicon.png">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">PassBook</a>
			</div>

		</div>
	</nav>