<!doctype html>
<html lang="en">

<head>
	<title>Create Post</title>
	<meta charset="utf-8">
	<!-- <meta name="description"
			content="A minimal and responsive HTML5 landing page built on lightweight, clean and customizable code."> -->
	<meta name="viewport" content="width=device-width">
	<link rel="apple-touch-icon-precomposed" href="media/favicon.png">
	<link rel="icon" href="media/favicon.png">
	<link rel="mask-icon" href="media/favicon.svg" color="rgb(36,38,58)">
	<link rel="shortcut icon" href="media/favicon.png">
	<!-- <link rel="stylesheet" href="/css/main.css"> -->
	<!-- Latest compiled and minified CSS -->
	<!-- CSS only -->
	<link href="/css/custom.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">

	<!-- Optional theme -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="page page-onboarding preload">
	<main>
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<div class="navbar-header">
						<img src="" width="30" height="30" class="d-inline-block align-top" alt="">
						<a class="navbar-brand" href="/">PassBook</a>
					</div>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<% if(!currentUser) {%>
								<li class="nav-item"><a class="nav-link text-secondary" href="/login">Login</a>
								</li>
								<li class="nav-item"><a class="nav-link text-secondary" href="/signup">Sign Up</a></li>
								<% } else{ %>
									<li class="nav-item "><a class="nav-link text-secondary" href="#">Signed in as:<strong>
												<%= currentUser.username%>
											</strong></a></li>
									<li class="nav-item"> <a class="nav-link text-secondary" href="/shop/myposts">My Books</a>
									</li>
									<li class="nav-item"><a class="nav-link text-secondary" href="/logout">Log Out</a></li>
									<% } %>
						</ul>
						<form class="d-flex" action="/shop/searchData" method="post">
							<input class="form-control me-2" type="search" name="search" placeholder="Search a Book" aria-label="Search">
							<button class="btn btn-outline-primary" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>
		</div>
		<% if(message && message.length>0) {%>
			<div style="text-align: center" class="alert alert-danger">
				<%=message%>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<% }%>