<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light navSecond bg-light stroke">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/courses">
                    <img src="/assets/logo/logoSecondary.png" width="90" height="60" class="d-inline-block align-top"
                        alt="logo">
                </a>
                <!-- <a class="navbar-brand" href="/">PassBook</a> -->
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <% if(!currentUser) {%>
                        <li class="nav-item"><a class="nav-link text-secondary" href="/login">Login</a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-secondary" href="/signup">Sign Up</a></li>
                        <li class="nav-item"> <a class="nav-link text-primary" href="/shop">Shop</a>
                        </li>
                        <% } else{ %>
                            <li class="nav-item "><span class="nav-link text-secondary" href="#">Signed in as<strong class="text-capitalize">
                                        <%= currentUser.username%>
                                    </strong></span></li>
                            <li class="nav-item"> <a class="nav-link text-primary" href="/shop">Shop</a>
                            </li>
                            <li class="nav-item"><a class="nav-link text-secondary" href="/logout">Log Out</a></li>
                            <% } %>
                </ul>
                <form class="d-flex" action="/courses/searchData" method="post">
                    <input class="form-control me-2" type="search" name="search" placeholder="Search a Book"
                        aria-label="Search">
                    <button class="btn btn-secondary text-white" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>