/* Getting rid of underline from links */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* a.nav-link.text-secondary:hover {
    font-weight: 500;
}

a.nav-link.text-primary:hover {
    font-weight: 500;
} */


nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    opacity: 0.8;
    /* padding: 15px; */
    text-decoration: none;
    /* color: #aaa; */
    /* font-weight: 800; */
    /* text-transform: uppercase; */
    /* margin: 0 10px; */
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    opacity: 1;
    color: #575BDE;
}

/* navbar underline stroke  */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #575BDE;
    height: 1px;
}

nav.navSecond.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #917447;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}



.card img {
    /* margin-left: 6px; */
    float: left;
    height: 350px;
    object-fit: cover;
}

.hovereffect {
    transition: transform 0.2s ease-in;
}

.hovereffect:hover {
    cursor: pointer;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transform: scale(1.025);
    /* background-color: rgba(87, 91, 222, 0.1); */
}
.badge.hovereffect:hover {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transform: scale(1.05);
    /* background-color: rgba(87, 91, 222, 0.1); */
}

#moreInfoCard {
    background: rgb(87, 91, 222);
    background: radial-gradient(rgba(87, 91, 222, 0.5) 0%, rgba(243, 243, 243, 0.5) 100%);
}


.link-grey {
    color: #aaa;
}

.link-grey:hover {
    color: #00913b;
}

/* course cards css */


.courseCard {
    border: none;
    border-radius: 10px
}


.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    height: 50px !important;
    width: 50px !important;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #917447;
    justify-content: center;
    align-items: center
}