/* Getting rid of underline from links */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* a.nav-link.text-secondary:hover {
    font-weight: 500;
}

a.nav-link.text-primary:hover {
    font-weight: 500;
} */


nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    opacity: 0.8;
    /* padding: 15px; */
    text-decoration: none;
    /* color: #aaa; */
    /* font-weight: 800; */
    /* text-transform: uppercase; */
    /* margin: 0 10px; */
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    opacity: 1;
    color: #575BDE;
}

/* navbar underline stroke  */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #575BDE;
    height: 1px;
}

nav.navSecond.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #917447;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}



.card img {
    /* margin-left: 6px; */
    float: left;
    height: 350px;
    object-fit: cover;
}

.hovereffect {
    transition: transform 0.2s ease-in;
}

.hovereffect:hover {
    cursor: pointer;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transform: scale(1.025);
    /* background-color: rgba(87, 91, 222, 0.1); */
}
.badge.hovereffect:hover {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transform: scale(1.05);
    /* background-color: rgba(87, 91, 222, 0.1); */
}

#moreInfoCard {
    background: rgb(87, 91, 222);
    background: radial-gradient(rgba(87, 91, 222, 0.5) 0%, rgba(243, 243, 243, 0.5) 100%);
}


.link-grey {
    color: #aaa;
}

.link-grey:hover {
    color: #00913b;
}

/* course cards css */


.courseCard {
    border: none;
    border-radius: 10px
}


.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    height: 50px !important;
    width: 50px !important;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #917447;
    justify-content: center;
    align-items: center
}









/* //////////////////////////// */
/*  Landing page stuff here    */



/* --------- */
/* VARIABLES */
/* --------- */

/* Scope variables to the root element */
:root {
  --container-bg-color: #333333;
  --left-bg-color: rgba(166, 97, 86, 0.7);
  --left-button-hover-color: rgba(145, 85, 76, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --right-button-hover-color: rgba(109, 109, 109, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Jura', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 2.8rem;
  color: #f3f2f2;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

/* ---------- */
/* CONTAINERS */
/* ---------- */

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

/* ------- */
/* BUTTONS */
/* ------- */

.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  width: 15rem;
  padding-top: 1.3rem;
  text-align: center;
  color: #f3f2f2;
  border: solid 0.1rem #f3f2f2;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

/* --------- */
/* LEFT SIDE */
/* --------- */

.split.left {
  left: 0;
  background: url('https://stepbystepbusiness.com/wp-content/uploads/2021/12/How-to-Open-a-Bookstore.jpg') center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
}

/* ---------- */
/* RIGHT SIDE */
/* ---------- */

.split.right {
  right: 0;
  background: url('https://images.pexels.com/photos/574077/pexels-photo-574077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */

.split.left,
.split.right,
.split.left:before,
.split.right:before {
  transition: var(--speed) all ease-in-out;
}

/* Mouse Hover Left */

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  /* Fade right side */
  z-index: 2;
}

/* Mouse Hover Right */
.hover-right .left {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left:before {
  /* Fade left side */
  z-index: 2;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}