<%- include("../partials/header.ejs")%>
  <%- include("../partials/nav.ejs")%>
    <%- include("../partials/flashMessage.ejs")%>
      <section class="row no-gutter reverse-order">

        <div class="col-6 col-md-4 m-5">
          <div class="w-100">
            <p class="paragraph">Please enter information about the book.<br>(The title, price, description, and kindly
              attach an image of the book.)</p>
            <form action="/shop/createpost" method="POST" enctype="multipart/form-data">
              <div class="form-floating mb-3">
                <input class="form-control" id="title" type="text" name="title" placeholder="Title">
                <label for="title">Title</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control mb-3" id="price" type="text" name="price" placeholder="Price">
                <label for="price">Price</label>
              </div>
              <div class="form-floating mb-3">
                <input class="form-control" id="description" type="description" name="description"
                  placeholder="Description">
                <label for="description">Description</label>
              </div>
              <div class=" mb-3">
                <!-- <label class="form-label form-control" for="image">Image</label>
                <input id="image" class="form-control visually-hidden" type="file" name="image" placeholder="Image"> -->
                <!-- <label class="form-label" for="image">Image</label> -->
                <input id="image" class="form-control " type="file" name="file" placeholder="Image">
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary mb-3">Create</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <%- include("../partials/footer.ejs")%>